@import "variables";


.items-index{
    display: flex;
    margin-top: 100px;
    flex-wrap: wrap;
    > li {
        margin: 10px;
        width: 300px;
    }
}

.item, .single-item{
    width: 260px;
    height: 400px;
}

.item:hover{
    opacity: 0.8;
}



.item-detail{
    margin-top: 100px;
    width: 300px;
}

.description{
    font-size: 20px;
    text-align: center;
}

.price{
    font-size: 15px;
    text-align: center;
    color: $gray;
}

.favorite{
    position: relative;
    right: 42px;
    bottom: 3px;
    width: 40px;
    cursor: pointer;
}

